* * ::before,
* ::after {
  box-sizing: border-box;
}
:root {
  --bg: #31326f;
  --text: #000000;
  --fg: #a8fbd3;
  --btn: #3d59ab;
  --btn-remove: #ff8000;
  --btn-add-hover: #03a98e;
  --btn-remove-hover: #ff0000;
  --btn-filter-bg: rgba(0, 0, 0, 0.1);
  --rdm: #637ab9;
  --radius: 0.25rem;
  --space1: 1rem;
  --space2: 1.5rem;
  --space3: 2rem;
  --book-bg: #b3b7d5;
  --footer-bg: #000435;
  --main-bg: #04abde;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--bg);
  color: var(--text);
  font-family: system-ui, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
  font-size: 16px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.credit {
  color: white;
}
a:hover {
  text-decoration: underline;
}
button,
.button {
  all: unset;
  display: inline-block;
  color: white;
  padding: var(--space1);
  border-radius: var(--space1);
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
.button:hover {
  text-decoration: none;
}

.button:hover {
  transition: all 0.2s ease;
}
.button-add {
  background-color: var(--btn);
}
.button-add:hover {
  background-color: var(--btn-add-hover);
}
.button-remove {
  background-color: var(--btn-remove);
}
.button-remove:hover {
  background-color: var(--btn-remove-hover);
}
.button-filter {
  width: 25px;
  height: 25px;
  padding: 0.6rem;
  border-radius: 50%;
  background-color: var(--btn-filter-bg);
  position: fixed;
  top: 15rem;
  cursor: pointer;
  right: var(--space3);
}
.button-filter input {
  display: none;
  z-index: 999;
}
.button-filter img {
  width: 100%;
  height: auto;
  z-index: 998;
}

.box {
  display: none;
  position: fixed;
  text-align: center;
  top: 17rem;
  width: 5rem;
  height: 4rem;
  right: var(--space3);
  z-index: 997;
}
.button-filter input:checked ~ .box {
  display: block;
}
header {
  grid-area: header;
  position: sticky;
  top: 0px;
  padding: calc(var(--space2) * 0.25);
  background-color: var(--rdm);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  padding: 0.25rem;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: var(--space1);
  justify-content: center;
  align-items: center;
}

p {
  font-size: 0.85rem;
}
li {
  list-style: none;
}
.logo {
  width: 5rem;
  height: 5rem;
  padding: var(--radius);
}
.fullpage {
  height: 100%;
  width: 100%;
  display: grid;
}
.fullpage-home {
  grid-template-areas:
    'header header'
    'aside main'
    'footer footer';
  grid-template-columns: 200px 1fr;
}
.fullpage-cart {
  grid-template-areas:
    'header header'
    'aside label'
    'aside main'
    'footer footer';
  grid-template-columns: 200px 1fr;
}

.main {
  width: auto;
  display: grid;
  gap: var(--space1);
}
.home {
  padding: var(--space1);
  grid-area: main;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.cart {
  padding: 0 var(--space1) var(--space1);
  grid-area: main;
  grid-template-columns: repeat(2, 1fr);
}
.page-title {
  grid-area: label;
  padding-left: var(--space1);
}
.books {
  display: grid;
}

.card-placeholder {
  background-color: var(--book-bg);
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: calc(var(--space1) * 0.5);
  padding: var(--space2);
  border: 0.05rem solid black;
  border-radius: var(--radius);
}
.cover {
  height: 300px;
  width: 200px;
  object-fit: fill;
  background-color: white;
}

.title {
  min-height: 25px;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}
.categories {
  grid-area: aside;
}
.categories > ul {
  display: flex;
  flex-direction: column;
  gap: var(--space1);
}
footer {
  grid-area: footer;
  min-height: 100px;
  background-color: var(--footer-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.5rem solid black;
  padding: var(--space1);
  color: white;
}
@media (max-width: 1024px) {
  .fullpage-home {
    grid-template-areas:
      'header'
      'aside'
      'main'
      'footer';
    grid-template-columns: 1fr;
  }
  .fullpage-cart {
    grid-template-areas:
      'header'
      'aside'
      'label'
      'main'
      'footer';
    grid-template-columns: 1fr;
  }
  .categories > ul {
    flex-direction: row;
    justify-content: center;
  }
  .main {
    grid-template-columns: 1fr;
  }
  .categories {
  }
}
