*
* ::before,
* ::after
    {
        box-sizing: border-box
    }
:root {
    --bg: #31326F;
    --text: #000000;
    --fg: #A8FBD3;
    --btn: #4FB7B3;
    --rdm: #637AB9;
    --radius: 0.5rem;
    --space1: 1rem;
    --space2: 1.5rem;
}

html,
body{
    margin: 0;
    height: 100%;
    background-color: var(--bg);
    color: var(--text);
    font-family: system-ui, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    font-size: 16px;
      }
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.fullpage{
    height: 100%;
    width:100%;
    display:grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 200px 1fr;
}
header{
    grid-area: header;
    position: sticky;
    top: 0px;
    padding: var(--space2);
    background-color: var(--rdm);
    display:flex;
    justify-content:space-between;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
nav  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space1);
    justify-content: right;
    flex:1;
    align-items: top;
    }
.logo{
    width: 5rem;
    height: 5rem;
    padding: var(--radius);
}
li{
    list-style: none;
}

.main{
    width:auto;
    grid-area: main; 
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: var(--space1);
    gap:var(--space1);
}

.books{
    display:grid;
}

.card-placeholder{
    background-color: black;
    display:flex;
    flex-direction: column;
    place-items: center;
    gap: var(--space2);
    padding: var(--space2);
}
.cover{
    min-height: 300px;
    min-width: 200px;
    background-color: white;
}
.categories{
    grid-area: aside;
}
.categories > ul{
    display: flex;
    flex-direction: column;
    gap: var(--space1);

}
footer{
    grid-area:footer;
    min-height: 100px;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    border-top: 0.5rem solid;
    padding: var(--space1);
}
@media (max-width: 1024px){
    .fullpage{
        grid-template-areas: "header"
            "aside"
            "main"
            "footer";
        grid-template-columns: 1fr;
    }

    .categories > ul{
        flex-direction:row;
        justify-content: center;
    }
    .main{
        grid-template-columns: 1fr;
    }
    .categories{
    }
}
